@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "JetBrains Mono", monospace;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} 

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 

h1{
  color: rgb(246, 248, 249);
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 10px rgba(85, 84, 75, 0.335);
  
}

h3 {
  font-size: 25px;
  font-weight: 600;
  padding: 0.6rem;
  padding-left: 25px; 
  position: relative;
}

h3::before {
  content: '';
  display: inline-block;
  width: 25px; 
  height: 25px; 
  background-image: url('/svg_h3.svg'); 
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente el ícono */
}



#item_H2 {
  font-size: 2em;
  font-weight: 700;
  cursor: pointer;
  transition: text-shadow 0.3s ease, color 0.3s ease; 
}
#item_H2:hover {
  color: rgb(106, 106, 101);
  text-shadow: 0 0 10px rgba(51, 51, 104, 0.5); 
}

p{
  font-size: 18px;
}

.li-nav li{
  list-style-type: none;
  font-size: 17px;
}

.li-nav li:hover{
  color: rgb(34, 67, 210);
  background-color: rgba(109, 178, 199, 0.673);
}

.li-nav section{
  padding: 15px;
}

.logo{
  width: auto;
  height: auto;
}

.item-language{
  color: rgb(16, 16, 74);
  border: 2px solid #ccc;
  outline: none;
  border-radius: 10px;
}
.item-language option{
  border: none;
  outline: none;
  background: #98c1ee8e;
}

.container-global h2{
  padding: 0.6rem;
}
.container-global p{
  padding: 0.4rem;
}

ul li{
  font-size: 18px;
}

.list-disc li{
  padding: 0.8rem;
 list-style:none;
}

/**/
#load h1{
  font-size: 35px;
  color: blue;
}

