@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} 

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 


h1{
  color: rgb(246, 248, 249);
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
  font-family: "JetBrains Mono", monospace;
}

h2{
  font-weight: 700;
  font-size: 30px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
  font-family: "JetBrains Mono", monospace;
}

p{
  font-family: "JetBrains Mono", monospace;
}
ol li{
  font-family: "JetBrains Mono", monospace;
}
.li-nav li{
  list-style-type: none;
  font-size: 17px;
  font-family: "JetBrains Mono", monospace;
  
}
.li-nav li:hover{
  color: rgb(34, 67, 210);
  background-color: rgba(109, 178, 199, 0.673);
}

.li-nav section{
  padding: 15px;
}

.logo{
  width: auto;
  height: auto;
}

